.slider__wrapper {
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
}

.slider__wrapper>input {
    display: none;
}

.slider__images {
    display: flex;
    width: 80vw;
    height: 40vw;
}

.slider__image_block {
    flex: 0 0 100%;
    width: 100%;
    height: 40vw;
}

.slider__image_block:nth-child(1) {
    background-color: red;
}

.slider__image_block:nth-child(2) {
    background-color: yellow;
}

.slider__image_block:nth-child(3) {
    background-color: green;
}

.slider__image_block:nth-child(4) {
    background-color: blue;
}

.slider__images {
    transition: all 1s ease-in-out;
}

#slide1:checked~.slider__images {
    transform: translateX(0%);
}

#slide2:checked~.slider__images {
    transform: translateX(-100%);
}

#slide3:checked~.slider__images {
    transform: translateX(-200%);
}

#slide4:checked~.slider__images {
    transform: translateX(-300%);
}

.slider__labels {
    display: flex;
    justify-content: center;
    gap: 8px;

    padding-top: 1em;
}

.slider__labels>label {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #06c;
    border: 0.2rem solid #06c;

    transition: all 0.5s ease;
}

.slider__labels>label:hover {
    background-color: gray;
    border-color: gray;
}

input#slide1:checked~.slider__labels>label[for='slide1'],
input#slide2:checked~.slider__labels>label[for='slide2'],
input#slide3:checked~.slider__labels>label[for='slide3'],
input#slide4:checked~.slider__labels>label[for='slide4'] {
    background-color: transparent;
}

.slider__description {
    display: flex;
}

.slider__description>div {
    padding-top: 2em;
    text-align: center;
    width: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
    opacity: 0;
}

input#slide1:checked~.slider__description>div[data-slide-index='1'],
input#slide2:checked~.slider__description>div[data-slide-index='2'],
input#slide3:checked~.slider__description>div[data-slide-index='3'],
input#slide4:checked~.slider__description>div[data-slide-index='4'] {
    width: 100%;
    opacity: 1;
}
